{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "semi": [2, "never"],
    "no-shadow":"off",
    "comma-dangle": [2, "never"],
    "flowtype-errors/show-errors": 2
  }
}
